h1{
    background-color: chartreuse;
     border: 1px solid black;
     width: 50%;
     margin: auto;
}
p{  
    font-size: 20px;
}
.x3{
    font-size: 30px;
    color: indianred;
}
#format{
    background-color: blueviolet;
}